In [1]:
from neo4j import GraphDatabase
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import re
import datetime 
import numpy as np

In [2]:
events = pd.read_csv("patients.csv")

In [3]:
events

,patient_id,event_id,start_date,end_date,event_type,opcs4,opcs4_desc,icd10,icd10_desc,test_type,notes
0,patient_001,event_001,10/10/2021 12:30,10/10/2021 12:30,test,NaN,NaN,NaN,NaN,FIT,NaN
1,patient_001,event_002,15/10/2021 10:00,15/10/2021 10:00,referral,NaN,NaN,NaN,NaN,NaN,NaN
2,patient_001,event_003,15/10/2021 10:00,15/10/2021 10:00,diagnosis,NaN,NaN,C183,Malignant neoplasm of colon: Hepatic flexure,NaN,NaN
3,patient_001,event_004,30/10/2021 12:00,30/10/2021 12:00,procedure,H083,Transverse colectomy and anastomosis NEC,NaN,NaN,NaN,surgery
4,patient_001,event_005,03/11/2021 13:15,03/11/2021 13:15,procedure,X352,Intraveneous chemotherapy,NaN,NaN,NaN,chemo
5,patient_001,event_006,05/11/2021 14:00,05/11/2021 14:00,procedure,X352,Intraveneous chemotherapy,NaN,NaN,NaN,chemo
6,patient_001,event_007,01/12/2021 14:00,01/12/2021 14:00,procedure,X352,Intraveneous chemotherapy,NaN,NaN,NaN,chemo
7,patient_002,event_008,01/01/20001 12:00,01/01/2001 12:00,test,NaN,NaN,NaN,NaN,FIT,NaN
8,patient_002,event_009,01/01/20001 12:01,02/01/2001 12:00,referral,NaN,NaN,NaN,NaN,NaN,NaN
9,patient_002,event_010,01/01/20001 12:02,03/01/2001 12:00,diagnosis,NaN,NaN,C20,Malignan neoplasm of rectum,NaN,NaN
10,patient_002,event_011,01/01/20001 12:03,04/01/2001 12:00,procedure,X701,Procurement of drugs for chemotherapy for neop...,NaN,NaN,NaN,chemo
11,patient_002,event_012,01/01/20001 12:04,05/01/2001 12:00,procedure,H073,Right hemicolectomy and anastomosis NEC,NaN,NaN,NaN,surgery
12,patient_002,event_013,01/01/20001 12:05,06/01/2001 12:00,procedure,X701,Procurement of drugs for chemotherapy for neop...,NaN,NaN,NaN,chemo
13,patient_003,event_014,01/01/20001 12:06,07/01/2001 12:00,procedure,H333,Anterior resection of rectum and anastomosis o...,NaN,NaN,NaN,NaN
14,patient_003,event_015,01/01/20001 12:07,08/01/2001 12:00,diagnosis,NaN,NaN,C19,Malignant neoplasm of rectosigmoid junction,NaN,NaN
15,patient_003,event_016,01/01/20001 12:08,09/01/2001 12:00,procedure,X712,Procurement of drugs for chemotherapy for neop...,NaN,NaN,NaN,NaN

In [4]:
hasEvent = pd.DataFrame({ 'subject':events['patient_id'],
                          'predicate':"hasEvent",
                          'object':events['event_id']})
hasEvent = hasEvent.drop_duplicates()
hasEvent.head()

hasDiagnosis = pd.DataFrame({ 'subject':events['event_id'],
                          'predicate':"hasDiagnosis",
                          'object':events['icd10']})
hasDiagnosis = hasDiagnosis.drop_duplicates()
hasDiagnosis.head()

ofType = pd.DataFrame({ 'subject':events['event_id'],
                          'predicate':"ofType",
                          'object':events['opcs4']})
ofType = ofType.drop_duplicates()
ofType.head()

       subject predicate     object
0  patient_001  hasEvent  event_001
1  patient_001  hasEvent  event_002
2  patient_001  hasEvent  event_003
3  patient_001  hasEvent  event_004
4  patient_001  hasEvent  event_005

     subject     predicate object
0  event_001  hasDiagnosis    NaN
1  event_002  hasDiagnosis    NaN
2  event_003  hasDiagnosis   C183
3  event_004  hasDiagnosis    NaN
4  event_005  hasDiagnosis    NaN

     subject predicate object
0  event_001    ofType    NaN
1  event_002    ofType    NaN
2  event_003    ofType    NaN
3  event_004    ofType   H083
4  event_005    ofType   X352

In [5]:
OPCS_DICT = {
    'A':'A Nervous System',
    'B':'B Endocrine System and Breast',
    'C':'C Eye',
    'D':'E Ear',
    'E':'F Respiratory Tract',
    'G':'G Upper Digestive Tract',
    'H':'H Lower Digestive Tract',
    'J':'J Other Abdominal Organs – Principally Digestive',
    'K':'K Heart',
    'L':'L Arteries and Veins',
    'M':'M Urinary', 
    'N':'N Male Genital Organs',
    'P':'P Lower Female Genital Tract',
    'Q':'Q Upper Female Genital Tract',
    'R':'R Female Genital Tract Associated with Pregnancy, Childbirth and Puerperium',
    'S':'S Skin',
    'T':'T Soft Tissue',
    'U':'U Diagnostic Imaging, Testing and Rehabilitation',
    'V':'V Bones and Joints of Skull and Spine',
    'W':'W Other Bones and Joints',
    'X':'X Miscellaneous Operations',
    'Y':'Y Subsidiary Classification of Methods of Operation',
    'Z':'Z Subsidiary Classification of Sites of Operation'
}

def createOPCSTriples(df):
    df = df.loc[ ~df.procedure_position.isna() ]

    codeInCategory = []
    for level_3 in df['procedure_code_opcs'].unique():
        try:
            level_1 = OPCS_DICT[level_3[0]] # First character = 1st level
            level_2 = level_3[0:3]          #First 3 characters = 2nd level

            codeInCategory.append([level_3,'inCategory',level_2])
            codeInCategory.append([level_2,'inCategory','procedures_'+level_1])
        except:
            # do nothing if the code isn't found in the dictionary
            pass

    codeInCategory = pd.DataFrame(columns=['subject','predicate','object'], data=codeInCategory)
    return codeInCategory

events['procedure_code_opcs'] = events['opcs4']
events['procedure_position'] = 1
ontologyTriples = createOPCSTriples(events)
ontologyTriples.head()

  subject   predicate                                 object
0    H083  inCategory                                    H08
1     H08  inCategory     procedures_H Lower Digestive Tract
2    X352  inCategory                                    X35
3     X35  inCategory  procedures_X Miscellaneous Operations
4    X701  inCategory                                    X70

In [6]:
opcs_cats = ontologyTriples[ ontologyTriples['object'].str.startswith('procedures_')]['object'] #Get highest level OPCS codes

ontologyRoot = pd.DataFrame({ 'subject':opcs_cats,
                          'predicate':"ofType",
                          'object':'procedures'} )
ontologyTriples = ontologyTriples.append(ontologyRoot)

ontologyTriples['object'] = ontologyTriples['object'].str.replace("[^0-9a-zA-Z]+", "_")
ontologyTriples['subject'] = ontologyTriples['subject'].str.replace("[^0-9a-zA-Z]+", "_")

ontologyTriples

<ipython-input-6-50df24e36431>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  ontologyTriples['object'] = ontologyTriples['object'].str.replace("[^0-9a-zA-Z]+", "_")
<ipython-input-6-50df24e36431>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  ontologyTriples['subject'] = ontologyTriples['subject'].str.replace("[^0-9a-zA-Z]+", "_")

,subject,predicate,object
0,H083,inCategory,H08
1,H08,inCategory,procedures_H_Lower_Digestive_Tract
2,X352,inCategory,X35
3,X35,inCategory,procedures_X_Miscellaneous_Operations
4,X701,inCategory,X70
5,X70,inCategory,procedures_X_Miscellaneous_Operations
6,H073,inCategory,H07
7,H07,inCategory,procedures_H_Lower_Digestive_Tract
8,H333,inCategory,H33
9,H33,inCategory,procedures_H_Lower_Digestive_Tract
10,X712,inCategory,X71
11,X71,inCategory,procedures_X_Miscellaneous_Operations
1,procedures_H_Lower_Digestive_Tract,ofType,procedures
3,procedures_X_Miscellaneous_Operations,ofType,procedures
5,procedures_X_Miscellaneous_Operations,ofType,procedures
7,procedures_H_Lower_Digestive_Tract,ofType,procedures
9,procedures_H_Lower_Digestive_Tract,ofType,procedures
11,procedures_X_Miscellaneous_Operations,ofType,procedures

In [7]:
uri             = "neo4j+s://1069e392.databases.neo4j.io"

userName        = "neo4j"

password        = "C315QwpDKsTlYkp1vC78I0kZTvO5x8RuHcHPhyUla7Y"

graphDB_Driver  = GraphDatabase.driver(uri, auth=(userName, password))

In [8]:

def getPrecedesTriples(all_events):
    
    all_patients = all_events['patient_id'].unique()
    eventPrecedesEvent = pd.DataFrame({ 'subject':[], 'predicate':[], 'object':[]})

    for p in all_patients:
        #patient_events = all_events[ (all_events['patient_id']==p) & (~all_events['procedure_code_opcs'].isna()) ]
        #patient_codes = patient_events['procedure_code_opcs'].tolist()

        patient_events = all_events[ (all_events['patient_id']==p) ]

        triples = pd.DataFrame({ 'subject':patient_events['event_id'].astype(str),
                             'predicate':"precedes",
                             'object':patient_events['event_id'].astype(str) })

        triples['object'] = triples['object'].shift(-1)
        triples = triples.drop(triples.tail(1).index) 

        eventPrecedesEvent = eventPrecedesEvent.append(triples)
    return eventPrecedesEvent

sequenceTriples = getPrecedesTriples(events)
sequenceTriples.head()

     subject predicate     object
0  event_001  precedes  event_002
1  event_002  precedes  event_003
2  event_003  precedes  event_004
3  event_004  precedes  event_005
4  event_005  precedes  event_006

In [9]:


def addTriples(triple_df, subject_type, object_type  ):
    with graphDB_Driver.session() as graphDB_Session:
        for index,row in triple_df.iterrows():
            a = """MERGE (%(subject_val)s:%(subject_type)s {name:"%(subject_val)s"}) """  % {'subject_val':  row['subject'],
           'subject_type': subject_type}

            b = """MERGE (%(object_val)s:%(object_type)s {name:"%(object_val)s"}) """% {'object_val':  row['object'],
                               'object_type': object_type}

            c = """ MATCH (a:%(subject_type)s),(b:%(object_type)s) 
                    WHERE a.name = "%(subject_val)s" 
                      AND b.name = "%(object_val)s"
                    MERGE (a)
                        -[r:%(relationship)s]->(b) 
                    RETURN type(r)
                """% {'subject_val':  row['subject'],
                   'object_val': row['object'],
                   'subject_type':subject_type,
                   'object_type': object_type,
                   'relationship': row['predicate']}
            print(a)
            graphDB_Session.run(a)
            print(b)
            graphDB_Session.run(b)
            print(c)
            graphDB_Session.run(c)

            
            #print(a)
            #print(b)

In [10]:
addTriples(hasEvent, 'patient', 'event')


hasDiagnosis = hasDiagnosis.dropna()
addTriples(hasDiagnosis, 'event', 'diagnosis')

ofType = ofType.dropna()
addTriples(ofType, 'event', 'opcs4')

addTriples(ontologyTriples, 'opcs4', 'opcs4')
addTriples(sequenceTriples, 'event', 'event')

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_001:event {name:"event_001"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_001"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_002:event {name:"event_002"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_002"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_003:event {name:"event_003"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_003"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_004:event {name:"event_004"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_004"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_005:event {name:"event_005"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_005"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_006:event {name:"event_006"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_006"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_001:patient {name:"patient_001"})
MERGE (event_007:event {name:"event_007"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_001"
                      AND b.name = "event_007"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_002:patient {name:"patient_002"})
MERGE (event_008:event {name:"event_008"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_002"
                      AND b.name = "event_008"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_002:patient {name:"patient_002"})
MERGE (event_009:event {name:"event_009"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_002"
                      AND b.name = "event_009"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_002:patient {name:"patient_002"})
MERGE (event_010:event {name:"event_010"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_002"
                      AND b.name = "event_010"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_002:patient {name:"patient_002"})
MERGE (event_011:event {name:"event_011"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_002"
                      AND b.name = "event_011"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_002:patient {name:"patient_002"})
MERGE (event_012:event {name:"event_012"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_002"
                      AND b.name = "event_012"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_002:patient {name:"patient_002"})
MERGE (event_013:event {name:"event_013"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_002"
                      AND b.name = "event_013"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_003:patient {name:"patient_003"})
MERGE (event_014:event {name:"event_014"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_003"
                      AND b.name = "event_014"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_003:patient {name:"patient_003"})
MERGE (event_015:event {name:"event_015"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_003"
                      AND b.name = "event_015"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (patient_003:patient {name:"patient_003"})
MERGE (event_016:event {name:"event_016"})
 MATCH (a:patient),(b:event)
                    WHERE a.name = "patient_003"
                      AND b.name = "event_016"
                    MERGE (a)
                        -[r:hasEvent]->(b)
                    RETURN type(r)

MERGE (event_003:event {name:"event_003"})
MERGE (C183:diagnosis {name:"C183"})
 MATCH (a:event),(b:diagnosis)
                    WHERE a.name = "event_003"
                      AND b.name = "C183"
                    MERGE (a)
                        -[r:hasDiagnosis]->(b)
                    RETURN type(r)

MERGE (event_010:event {name:"event_010"})
MERGE (C20:diagnosis {name:"C20"})
 MATCH (a:event),(b:diagnosis)
                    WHERE a.name = "event_010"
                      AND b.name = "C20"
                    MERGE (a)
                        -[r:hasDiagnosis]->(b)
                    RETURN type(r)

MERGE (event_015:event {name:"event_015"})
MERGE (C19:diagnosis {name:"C19"})
 MATCH (a:event),(b:diagnosis)
                    WHERE a.name = "event_015"
                      AND b.name = "C19"
                    MERGE (a)
                        -[r:hasDiagnosis]->(b)
                    RETURN type(r)

MERGE (event_004:event {name:"event_004"})
MERGE (H083:opcs4 {name:"H083"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_004"
                      AND b.name = "H083"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_005:event {name:"event_005"})
MERGE (X352:opcs4 {name:"X352"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_005"
                      AND b.name = "X352"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_006:event {name:"event_006"})
MERGE (X352:opcs4 {name:"X352"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_006"
                      AND b.name = "X352"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_007:event {name:"event_007"})
MERGE (X352:opcs4 {name:"X352"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_007"
                      AND b.name = "X352"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_011:event {name:"event_011"})
MERGE (X701:opcs4 {name:"X701"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_011"
                      AND b.name = "X701"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_012:event {name:"event_012"})
MERGE (H073:opcs4 {name:"H073"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_012"
                      AND b.name = "H073"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_013:event {name:"event_013"})
MERGE (X701:opcs4 {name:"X701"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_013"
                      AND b.name = "X701"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_014:event {name:"event_014"})
MERGE (H333:opcs4 {name:"H333"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_014"
                      AND b.name = "H333"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_016:event {name:"event_016"})
MERGE (X712:opcs4 {name:"X712"})
 MATCH (a:event),(b:opcs4)
                    WHERE a.name = "event_016"
                      AND b.name = "X712"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (H083:opcs4 {name:"H083"})
MERGE (H08:opcs4 {name:"H08"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "H083"
                      AND b.name = "H08"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (H08:opcs4 {name:"H08"})
MERGE (procedures_H_Lower_Digestive_Tract:opcs4 {name:"procedures_H_Lower_Digestive_Tract"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "H08"
                      AND b.name = "procedures_H_Lower_Digestive_Tract"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (X352:opcs4 {name:"X352"})
MERGE (X35:opcs4 {name:"X35"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "X352"
                      AND b.name = "X35"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (X35:opcs4 {name:"X35"})
MERGE (procedures_X_Miscellaneous_Operations:opcs4 {name:"procedures_X_Miscellaneous_Operations"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "X35"
                      AND b.name = "procedures_X_Miscellaneous_Operations"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (X701:opcs4 {name:"X701"})
MERGE (X70:opcs4 {name:"X70"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "X701"
                      AND b.name = "X70"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (X70:opcs4 {name:"X70"})
MERGE (procedures_X_Miscellaneous_Operations:opcs4 {name:"procedures_X_Miscellaneous_Operations"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "X70"
                      AND b.name = "procedures_X_Miscellaneous_Operations"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (H073:opcs4 {name:"H073"})
MERGE (H07:opcs4 {name:"H07"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "H073"
                      AND b.name = "H07"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (H07:opcs4 {name:"H07"})
MERGE (procedures_H_Lower_Digestive_Tract:opcs4 {name:"procedures_H_Lower_Digestive_Tract"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "H07"
                      AND b.name = "procedures_H_Lower_Digestive_Tract"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (H333:opcs4 {name:"H333"})
MERGE (H33:opcs4 {name:"H33"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "H333"
                      AND b.name = "H33"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (H33:opcs4 {name:"H33"})
MERGE (procedures_H_Lower_Digestive_Tract:opcs4 {name:"procedures_H_Lower_Digestive_Tract"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "H33"
                      AND b.name = "procedures_H_Lower_Digestive_Tract"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (X712:opcs4 {name:"X712"})
MERGE (X71:opcs4 {name:"X71"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "X712"
                      AND b.name = "X71"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (X71:opcs4 {name:"X71"})
MERGE (procedures_X_Miscellaneous_Operations:opcs4 {name:"procedures_X_Miscellaneous_Operations"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "X71"
                      AND b.name = "procedures_X_Miscellaneous_Operations"
                    MERGE (a)
                        -[r:inCategory]->(b)
                    RETURN type(r)

MERGE (procedures_H_Lower_Digestive_Tract:opcs4 {name:"procedures_H_Lower_Digestive_Tract"})
MERGE (procedures:opcs4 {name:"procedures"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "procedures_H_Lower_Digestive_Tract"
                      AND b.name = "procedures"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (procedures_X_Miscellaneous_Operations:opcs4 {name:"procedures_X_Miscellaneous_Operations"})
MERGE (procedures:opcs4 {name:"procedures"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "procedures_X_Miscellaneous_Operations"
                      AND b.name = "procedures"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (procedures_X_Miscellaneous_Operations:opcs4 {name:"procedures_X_Miscellaneous_Operations"})
MERGE (procedures:opcs4 {name:"procedures"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "procedures_X_Miscellaneous_Operations"
                      AND b.name = "procedures"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (procedures_H_Lower_Digestive_Tract:opcs4 {name:"procedures_H_Lower_Digestive_Tract"})
MERGE (procedures:opcs4 {name:"procedures"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "procedures_H_Lower_Digestive_Tract"
                      AND b.name = "procedures"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (procedures_H_Lower_Digestive_Tract:opcs4 {name:"procedures_H_Lower_Digestive_Tract"})
MERGE (procedures:opcs4 {name:"procedures"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "procedures_H_Lower_Digestive_Tract"
                      AND b.name = "procedures"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (procedures_X_Miscellaneous_Operations:opcs4 {name:"procedures_X_Miscellaneous_Operations"})
MERGE (procedures:opcs4 {name:"procedures"})
 MATCH (a:opcs4),(b:opcs4)
                    WHERE a.name = "procedures_X_Miscellaneous_Operations"
                      AND b.name = "procedures"
                    MERGE (a)
                        -[r:ofType]->(b)
                    RETURN type(r)

MERGE (event_001:event {name:"event_001"})
MERGE (event_002:event {name:"event_002"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_001"
                      AND b.name = "event_002"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_002:event {name:"event_002"})
MERGE (event_003:event {name:"event_003"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_002"
                      AND b.name = "event_003"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_003:event {name:"event_003"})
MERGE (event_004:event {name:"event_004"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_003"
                      AND b.name = "event_004"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_004:event {name:"event_004"})
MERGE (event_005:event {name:"event_005"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_004"
                      AND b.name = "event_005"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_005:event {name:"event_005"})
MERGE (event_006:event {name:"event_006"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_005"
                      AND b.name = "event_006"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_006:event {name:"event_006"})
MERGE (event_007:event {name:"event_007"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_006"
                      AND b.name = "event_007"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_008:event {name:"event_008"})
MERGE (event_009:event {name:"event_009"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_008"
                      AND b.name = "event_009"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_009:event {name:"event_009"})
MERGE (event_010:event {name:"event_010"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_009"
                      AND b.name = "event_010"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_010:event {name:"event_010"})
MERGE (event_011:event {name:"event_011"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_010"
                      AND b.name = "event_011"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_011:event {name:"event_011"})
MERGE (event_012:event {name:"event_012"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_011"
                      AND b.name = "event_012"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_012:event {name:"event_012"})
MERGE (event_013:event {name:"event_013"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_012"
                      AND b.name = "event_013"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_014:event {name:"event_014"})
MERGE (event_015:event {name:"event_015"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_014"
                      AND b.name = "event_015"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

MERGE (event_015:event {name:"event_015"})
MERGE (event_016:event {name:"event_016"})
 MATCH (a:event),(b:event)
                    WHERE a.name = "event_015"
                      AND b.name = "event_016"
                    MERGE (a)
                        -[r:precedes]->(b)
                    RETURN type(r)

In [ ]:
#MATCH (n) DETACH DELETE n
# wipe neo4j datanase